body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-right: 20px;
}

.name-title {
    display: flex;
    flex-direction: column;
}

.section {
    width: 48%;
    margin-top: 20px;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

.editable {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editable:hover {
    background-color: #d1d1d1;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
