body {
    font-family: Arial, sans-serif;
    display: flex; /* Используем Flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    margin: 30; /* Убираем отступы по умолчанию */
}

.container {
    flex-direction: column; /* Располагаем элементы в колонку */
    justify-content: center; /* Центрируем по вертикали */
    text-align: center; /* Центрируем текст внутри блока */
    border: 2px solid #000; /* Добавляем рамку */
    padding: 20px; /* Добавляем отступы внутри блока */
    border-radius: 10px; /* Закругляем углы рамки */
    background-color: #f9f9f9; /* Цвет фона блока */
}

.section img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.name-title {
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eaeaea;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    flex-direction: column; /* Располагаем элементы в колонку */
    justify-content: center; /* Центрируем по вертикали */
    text-align: left; /* Центрируем текст внутри блока */
   
    padding: 20px; /* Добавляем отступы внутри блока */

}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.editable {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editable:hover {
    background-color: #d1d1d1;
}

.ripple {
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 50px;
}

.ripple::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
